
<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>My Profile</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <form
          class="form-horizontal"
          autocomplete="off"
          #changeProfileForm="ngForm"
          (ngSubmit)="update()"
        >
          <div class="card-body">
            <div class="modal-body" [busy]="ShowLoaderEditProfile">
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="name">
                  {{ "Name" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  required
                  [(ngModel)]="user.name"
                  #nameModel="ngModel"
                  #nameEl
                />
                <abp-validation-summary
                  [control]="nameModel"
                  [controlEl]="nameEl"
                ></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="surname">
                  {{ "Surname" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                  type="text"
                  class="form-control"
                  name="surname"
                  id="surname"
                  required
                  [(ngModel)]="user.surname"
                  #surnameModel="ngModel"
                  #surnameEl
                />
                <abp-validation-summary
                  [control]="surnameModel"
                  [controlEl]="surnameEl"
                ></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="userName">
                  {{ "UserName" | localize }}
                </label>
                <div class="col-md-9">
                    <label>{{user.userName}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="emailAddress">
                  {{ "EmailAddress" | localize }}
                </label>
                <div class="col-md-9">
                    <label>{{user.emailAddress}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer justify-content-between">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!changeProfileForm.form.valid || saving"
            >
              {{ "Save" | localize }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
