<form
  class="form-horizontal"
  autocomplete="off"
  #createDocumentModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Add New Document' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body" [busy]="isTableLoading">

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Choose file" | localize }}
      </label>
      <div class="col-md-9">
        <input #file 
        type='file' 
        required
        class="form-control"
        (change)="onSelectFile($event, file.files)"
        >
        <!-- <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          maxlength="128"
          required
          [(ngModel)]="document.FileName"
          #nameModel="ngModel"
          #nameEl
        />
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary> -->
      </div>
    </div>
    <!-- <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            name="isActive"
            id="isActive"
            [(ngModel)]="document.IsActive"
          />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div> -->
 <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "Category" | localize }}
      </label>
      <div class="col-md-9">
        <select class="form-control"  [(ngModel)]="document.CategoryId" name="categoryId" >
          <option value="0" selected disabled>
            {{ "Select category" | localize }}
          </option>
          <option *ngFor="let Category of CategoryList" [value]="Category.id" >
            {{Category.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [saveLabel]="'Upload' | localize"
    [cancelDisabled]="saving"
    [saveDisabled]="!createDocumentModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
