<a class="brand-link" [routerLink]="['home']">
  <!-- <img
    src="assets/img/logo.png"
    alt="Logo"
    class="brand-image img-circle elevation-3"
    style="opacity: 0.8;"
  /> -->
  <span class="ml-4 brand-text font-weight-light">DocStore</span>
</a>
