﻿
  <abp-modal-header
    [title]="document.FileName | localize"
    (onCloseClick)="onCloseClick();"
  ></abp-modal-header>
  <div class="modal-body">
    <!-- <pre>{{document| json}}</pre> -->
    <div *ngIf="document.FileType.split('/')[0] == 'image'">
      <div class="row justify-content-center">
        <img src="{{environment.hostUrl + environment.uploadDocumentFolder + document.GeneratedFileName}}" 
        onerror="this.alt='Image not found'">
      </div>
    </div>
    <div *ngIf="document.FileType.split('/')[0] == 'video'">
      <div class="row justify-content-center">
        <video controls (click)="toggleVideo()" #videoPlayer>
          <source src="{{environment.hostUrl + environment.uploadDocumentFolder + document.GeneratedFileName}}" type="{{document.FileType}}">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div *ngIf="document.FileType.split('/')[1] == 'pdf'">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-12">
          <pdf-viewer [src]="environment.hostUrl + environment.uploadDocumentFolder + document.GeneratedFileName" [original-size]="false"></pdf-viewer>
        </div>
      </div>
    </div>
    <div *ngIf="document.GeneratedFileName.split('.')[1] == 'doc' || document.GeneratedFileName.split('.')[1] == 'docx' || document.GeneratedFileName.split('.')[1] == 'xls' || document.GeneratedFileName.split('.')[1] == 'xlsx'">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-12">
          <!-- <ngx-doc-viewer 
          [url]="environment.hostUrl + environment.uploadDocumentFolder + document.GeneratedFileName" 
          viewer="office" style="width:100%;height:50vh;"></ngx-doc-viewer> -->
<!-- 
          <ngx-doc-viewer 
          [viewerUrl]="https://docs.google.com/gview?url=url&embedded=true" 
          [url]="environment.hostUrl + environment.uploadDocumentFolder + document.GeneratedFileName" 
          viewer="url" 
          style="width:100%;height:50vh;"></ngx-doc-viewer> -->

          <ngx-doc-viewer url="{{environment.hostUrl + environment.uploadDocumentFolder + document.GeneratedFileName}}" viewer="google"  style="width:100%;height:93vh;">
          </ngx-doc-viewer>

        </div>
      </div>
    </div>
    <!-- <div *ngIf="document.FileType.split('/')[0] != 'image' && document.FileType.split('/')[0] != 'video'">
      <div class="row justify-content-center">
        <video controls class="video" (play)="video()" autoplay #videoPlayer>
          <source src="assets/video/movie.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div> -->
  
    
  </div>
  
