<div [@routerTransition]>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h1>{{ "Documents" | localize }}</h1>
          </div>
          <div class="col-6 text-right">
            <a *ngIf="isControlVisible('Operation.Upload')" href="javascript:;" class="btn bg-blue" (click)="createDocuments()">
              <i class="fa fa-plus-square"></i>
              {{ "Upload" | localize }}
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="content px-2">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="getDataPage(1)"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="keyword"
                [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="keyword"
                (keyup.enter)="getDataPage(1)"
              />
              <div class="input-group-append"  *ngIf="isControlVisible('Operation.Delete')">
                <button
                  type="button"
                  class="btn btn-default"
                  (click)="advancedFiltersVisible = !advancedFiltersVisible"
                >
                  <i
                    class="fas"
                    [class.fa-angle-up]="advancedFiltersVisible"
                    [class.fa-angle-down]="!advancedFiltersVisible"
                  ></i>
                </button>
              </div>
            </div>
            <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-1">
              <div class="card-body">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row mb-0">
                        <label class="col-md-3 col-form-label">
                          {{ "Hide" | localize }}
                        </label>
                        <div class="col-md-9 pt-2">
                          <div class="custom-control custom-radio d-inline">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="isActiveAll"
                              name="isActive"
                              [(ngModel)]="isActive"
                              [value]="undefined"
                              checked
                            />
                            <label class="custom-control-label" for="isActiveAll">
                              {{ "All" | localize }}
                            </label>
                          </div>
                          <div class="custom-control custom-radio d-inline mx-3">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="isActiveActive"
                              name="isActive"
                              [(ngModel)]="isActive"
                              [value]="false"
                            />
                            <label
                              class="custom-control-label"
                              for="isActiveActive"
                            >
                              {{ "Yes" | localize }}
                            </label>
                          </div>
                          <div class="custom-control custom-radio d-inline">
                            <input
                              type="radio"
                              class="custom-control-input"
                              id="isActivePassive"
                              name="isActive"
                              [(ngModel)]="isActive"
                              [value]="true"
                            />
                            <label
                              class="custom-control-label"
                              for="isActivePassive"
                            >
                              {{ "No" | localize }}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="getDataPage(1)"
                >
                  {{ "Search" | localize }}
                </button>
                <button
                  type="button"
                  class="btn btn-default float-right"
                  (click)="clearFilters()"
                >
                  {{ "Clear" | localize }}
                </button>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap" [busy]="isTableLoading">
              <thead class="bg-light">
                  <tr>
                      <th>{{ "Name" | localize }}</th>
                      <th>{{ "Category" | localize }}</th>
                      <th>{{ "Type" | localize }}</th>
                      <th>{{ "Size" | localize }}</th>
                      <th *ngIf="isControlVisible('Operation.Hide')">{{ "Hide" | localize }}</th>
                      <th style="width: 200px;">{{ "Actions" | localize }}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="
                    let document of documentsList
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  ">
                      <td>{{ document.FileName }}</td>
                      <td>{{ document.CategoriesName }}</td>
                      <td>{{ document.FileType.split('/')[0] }}</td>
                      <td>{{ document.FileSize }} kb</td>
                      <td *ngIf="isControlVisible('Operation.Hide')">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox"
                                     class="custom-control-input"
                                     disabled
                                     [checked]="!document.IsActive" />
                              <label class="custom-control-label"></label>
                          </div>
                      </td>
                      <td>
                          <button *ngIf="isControlVisible('Operation.View')"
                                  type="button"
                                  class="btn btn-sm bg-secondary"
                                  (click)="viewDocuments(document)"
                                  title="{{'View' | localize}}">
                              <i class="fas fa-eye"></i>
                          </button>
                          <button *ngIf="isControlVisible('Operation.Download')"
                                  type="button"
                                  class="btn btn-sm bg-secondary ml-1"
                                  (click)="downloadDocument(document)"
                                  title="{{'Download' | localize}}">
                              <i class="fas fa-download"></i>
                          </button>
                          <button *ngIf="isControlVisible('Operation.Hide')"
                                  type="button"
                                  class="btn btn-sm bg-info ml-1"
                                  (click)="documentHideUnhide(document)">
                              <i *ngIf="!document.IsActive" class="fas fa-eye"></i>
                              <i *ngIf="document.IsActive" class="fas fa-eye-slash"></i>
                              {{ document.IsActive?"Hide":"Unhide"  | localize }}
                          </button>
                          <button *ngIf="isControlVisible('Operation.Delete')"
                                  type="button"
                                  class="btn btn-sm bg-danger mx-2"
                                  (click)="delete(document)">
                              <i class="fas fa-trash"></i>
                              {{ "Delete" | localize }}
                          </button>
                          <!-- <button *ngIf="isControlVisible('Operation.Delete')"
          type="button"
          class="btn btn-sm bg-danger mx-2"
          (click)="HardDeleteDocuments(document)"
        >
          <i class="fas fa-trash"></i>
          {{ "Delete" | localize }}
        </button> -->
                      </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer bg-light border-top">
            <div class="row">
              <div class="col-sm-4 col-12 text-sm-left text-center">
                <button class="btn btn-secondary" (click)="refresh()">
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
              <div class="col-sm-4 col-12 text-center">
                <p class="mb-0 my-2">
                  {{ "TotalRecordsCount" | localize: totalItems }}
                </p>
              </div>
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <abp-pagination-controls
                    id="server"
                    (pageChange)="getDataPage($event)"
                  >
                  </abp-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  